.cst_side_tab {
    width: 60px; /* Width for the toggle button */
}

.cst_buttons {
    padding: 10px;
}

.cst_button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cst_button img {
    width: 20px; /* Adjust according to your needs */
    height: 20px; /* Adjust according to your needs */
    margin-right: 5px;
}

.cst_toggle {
    cursor: pointer;
    font-size: 20px; /* Adjust size for the toggle button */
}
